build/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-minsizerel/
cmake-build-relwithdebinfo/
.pytest_cache/
__pycache__/
env/
docs/
neon-build/
main.ne
src/test/fuzz/lexer-corpus
src/test/fuzz/parser-corpus

*.llvm
*.o
*.a
*.ll
